h1 {
  font-family: $standard;
  font-size: $xxx-large;
  font-weight: bold;

}

p {
  font-family: $raleway;
  font-size: $small;
  font-weight: $regular;
  color: $smoky-black;
}

h2 {
  font-family: $raleway;
  font-size: $medium;
  font-weight: $bold;

}

h3 {
  font-family: $standard;
  font-size: $xx-large;
  font-weight: $regular;

}
h4 {
  font-family: $standard;
  font-size: $medium;
  font-weight: $regular;

}

h5 {
  font-family: $standard;
  font-size: $large;
  font-weight: $bold;

}
