// Esquemas de Colores

//Primer esquema de color

$white: #fff;
$isabelline: #ececec;
$light-gray: #d1d1d1;

//Segundo esquema de color

$smoky-black: #0c0910;
$granite-gray: #646466;
$quick-silver: #a6a5a8;


// Esquema de Tipografias

$standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;


// Pesos de fuente

$regular: 400;
$bold: 700;

// Pesos de fuentes

$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-small: 12;
