





@media only screen and (min-width: 1200px){
  * {
    box-sizing: border-box;
  }

  .box {
    padding: 2rem 6rem 5.4rem 4rem;
  }

  .box2 {
    padding: 1.25rem 9.5rem 1.25rem 0;
    line-height : 1.6rem;
  }

}


@media only screen and (min-width: 768px){
  * {
    box-sizing: border-box;
  }

  .box {
    padding: 2rem 15rem 1rem 2rem;
    margin-top: 74vh;
  }

  .box2 {
    padding: 3rem 16rem 1rem 2rem;
    line-height : 1.6rem;
  }

}

@media only screen and (min-width: 375px){

  * {
    box-sizing: border-box;
  }

  .box {
  padding: 2rem 2rem 1rem 3rem;
  margin-top: 56vh;
  }

  .box2 {
    padding: 2rem 6rem 1rem 0rem;
    line-height : 1.6rem;
  }


}
